* {
    margin: 0;
}
body{background-color: rgba(216, 228, 233, 1);}

header {
    position: fixed;
    width: 100%;
}

.menu {
    width: 1204px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
    line-height: 43.5px;
    padding-top: 30px;
}

.txt {
    display: flex;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.47px;
    text-align: center;
    list-style: none;
    gap: 24px;
}

.sec1 {
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 40.27%),
        linear-gradient(0deg, rgba(157, 184, 218, 0.2), rgba(157, 184, 218, 0.2)),
        url(https://s3-alpha-sig.figma.com/img/7a7d/1dd1/098d2481fb0f847b6ba2c5d7bbe0db4b?Expires=1734307200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=PdTMI9jQkLyPGg2DXwAkvuwN1gBs7ryw~nSi51D~US41Dl0B9g2tyujJrQvwXE3IlbTn3bkemk-ZXb0sdxmzuZ7bkJWZ9BZL-M61Q3ue04Q6cUq3lia5q-ahUPEd8OzFS3GG5mUPEwYiUUPVK4YLE9S924VikAmodsZ~DY01YRHqlNfQm78sZGvFhtIBblO~qWJKEs~qwdKFmVCZMVG-kPEI3n7k34dEpn8UAKq-RJbuw1-d5ZxLtScM1hi~oPeXySirL3OF0E4hgpnw~DtwWhCSTotd3HfajjDOlaa52Hwa4nVUVHkRRYi2nyQecEylfShREwdcBVVGLfF3iwjoyw__);

}

.sec1 h1 {
    font-weight: 400;
    font-size: 80px;
    line-height: 80px;
    color: #E8EDF2B8;
    text-align: center;
    padding-top: 169px;
}

.sec1 p {
    font-weight: 400;
    font-size: 250px;
    line-height: 250px;
    color: #FDFDFEFA;
    text-align: center;
}

.sec1 h2 {
    font-weight: 900;
    font-size: 64px;
    line-height: 64px;
    color: #FFFFFFCC;
    text-align: center;
}
.sec2{width: 100%;
height: 500px;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
gap: 40px;
padding-left: 119px;
flex-direction: row;

}
.box {
    width: 275px;
    height: 370px;
    background-image: url(https://s3-alpha-sig.figma.com/img/9411/7af0/fae2d95b54ef6842a38934433c1d99d7?Expires=1734307200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=j6YiKqaPVJ7vUcEjHiCk8V5APzkPes5eI7upqMvcN0CnFP1j7-Hh9GveYN~6h2O-gnh3y2YoUp1AmdTyzBZQTt7~tFsNqiOlYmFLqd14uNUROcJzWkwSlnNXZ2L0~LvU634vjuyQb~h-lAYMOZJpU7BnCmukya6gNWYQGqE3xfXPF9EPWYMETVdRbP2VbihH6hzi7ZLO0BpY9fLlFJJpZts17B6hOa8ssOdUQm~sPVvtOWlepE1icJcTMuYNlNUTqMgJykJAx8JOy3LpphzVFOWWh64QKoKOpFW2bTnVzAN19u~Et2TvhSpU2~4456PXvvkwuhZsHA2OsOwbrPcHfg__);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    border-radius: 20px;
    position: relative;
    background-color: black;
    cursor: pointer;
  }
  .box:hover {
    background-image: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.4) 0%,
        rgba(0, 0, 0, 0.4) 40%
      ),
      url(https://s3-alpha-sig.figma.com/img/9411/7af0/fae2d95b54ef6842a38934433c1d99d7?Expires=1734307200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=j6YiKqaPVJ7vUcEjHiCk8V5APzkPes5eI7upqMvcN0CnFP1j7-Hh9GveYN~6h2O-gnh3y2YoUp1AmdTyzBZQTt7~tFsNqiOlYmFLqd14uNUROcJzWkwSlnNXZ2L0~LvU634vjuyQb~h-lAYMOZJpU7BnCmukya6gNWYQGqE3xfXPF9EPWYMETVdRbP2VbihH6hzi7ZLO0BpY9fLlFJJpZts17B6hOa8ssOdUQm~sPVvtOWlepE1icJcTMuYNlNUTqMgJykJAx8JOy3LpphzVFOWWh64QKoKOpFW2bTnVzAN19u~Et2TvhSpU2~4456PXvvkwuhZsHA2OsOwbrPcHfg__);
    background-color: black;
  }
  .top-border {
    width: 100%;
    height: 100%;
    position: absolute;
    top: -10px;
    left: -10px;
    border-radius: 20px;
    background: rgba(41, 114, 139, 0.25);
    z-index: -1;
  }
  .bottom-border {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -10px;
    right: -10px;
    border-radius: 20px;
    background:rgba(31, 114, 170, 0.46)
    ;
    z-index: -1;
  }
  .box2{background-image: url(https://s3-alpha-sig.figma.com/img/e124/d31b/4b7edc8a8926233d613c437affc8b621?Expires=1734307200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=n~2fkiB1rZgiEdzCMha9Uo8-43DRcDCKmA-WBIUIDM~AsTGrws2kqku6K9nFBLdyenp~YpB-86R7PU5e0sZYZnropDZ1rNByXMOY3LBF8NslbdpzPeGpXMSLRXRtNFDvcGoOEImV8xCUtaHJAyu9K1~kC9F0ag~3SBYTlHYzozLFIEpoS5CPbpfhe7tKyjkwW5fhwd~BuOQxV2zs0x-edzcpr~tT0mCUly9NE30IZIG3KbwoT0Is5WhbgKpHQRQCrZDJ5PzBdlVeTpqV1Zy0ErgMPHJBkevID5~ucRYoSMMuRe2jekzqDylXxEtsLtcxNKP-qN0Wrxck-nxx68YTpQ__);
}
.box3{background-image: url(https://s3-alpha-sig.figma.com/img/a4d6/0416/d42b9ac033e9ea4869926a93ad64d227?Expires=1734307200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=GxyJ~y1qLLP~KhdsJkV9oleyKhANT0UUIOdLaOFMIwyeUSIQnMAivl41kfeRa0tJ5aDTPZM48hTZrEHaXa8M53y2PMX-zJT2BKp41jh6TrFU-tM3BuEn6grnjRp8ehbXVHlgB2GJwJ08YqBjBkpIEwM-LayF4EKXmXEfwGYRi6WkKhyJuA3mw7fjLZ0SHslRq4nt72J2z06N3KmIwXAScsOII-H5A9A9jPqHc4~5V0oICuQTaomQpfSxCfIJuGJL~U8aqm2-EztxZKX01ePx9d-05IWaTYoecYBtCCetDL~NjWVRWq8iYPe-xR-kg2WYsfSvmFCV39aUQjL28sbXVQ__);
}
.box4{background-image: url(https://s3-alpha-sig.figma.com/img/d2b9/7a2b/78cccaa3f6ec592813187ea25729681e?Expires=1734307200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=HL8whnhAzG46qIxI9tolF~eTqvoqIjC1hsj7~YHC2lnOYnNpcGXHx~wDCbnvNtdz7C0La8zO7P1nv2bAtYhX1WBP~Vw5sGTcIKr1pebPiElvAw~uysK3GAGoAMITSBygflFHSSiQ95eVd6RAjDmKwDt~soL18PDfo0MXGY90i-i15wwnmtctbiIseUbxCvGuzJzgXxWq06pbeNwd9RjE9ckdE3w9kXRbmKCED58cPmar27niBiun0zEakVJynPNaIynC7aYRoIbocEHwnVfzHkwAfGdJnkHcv7fw5IYG82orHRIVpwt7AFb8h7f2E1pu9GD9DXOSHAhDPS4Lzo0Gzw__);
}
  


.sec3{background-image: url(https://s3-alpha-sig.figma.com/img/56fe/900c/3373b978c26674d26d5c9d2dfec315ab?Expires=1734307200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=lpTEZOx2kkDG-Ol0N1YneGInHjSvIjLi2jWln4t-1mpxx6DGre11D624t~9abcnIvdBV9bOidWA-~O~qmJgnBnM7wswFhJ8qKwIuJfLU6KWjXoc2faTJhhNBjLbvpqDEtn7Qj4nQPABaeZbYJb-YgRxSc7z5wljIxYEwjTAPSFiLQSHRuZLuw02UeHmuNSRqLN06ZKWukHghh8fzOYFpDIAJRUCzI7sAbZ3EM-zCp2m7zEFs0WhNBhJGrXIfGXcNccHWv2CBOCiQlotnUrVpVQppyZVkmNhaprybL31yiNOumfRbtkBN2~~X~fj97k7Pv0ai3NJMTODWWcFjr6POPA__);
width: 100%;
height: 100vh;
background-size: cover;
}